*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.bankcard {
  border-radius: 7px;
  width: 237px;
  height: 130px;
  background-color: #0094FF;
  color: #ffffff;
  font-family: "Roboto Thin";
}
.firstblock {
  display: flex;
  justify-content: space-between;
  padding: 12px 11px;
}
.second-block{
  display: flex;
  justify-content: space-between;
  padding: 0 11px 9px 11px;
}
.bankname {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.cardnumber {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  padding: 0 89px 46px 11px ;
}
.carddate {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  padding-top: 8px;
}
.cardcount {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
